<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Daftar Catatan
      </a>

      <a class="navbar-item">
        Buat Catatan
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu Lain
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Tentang Aplikasi
          </a>
          <a class="navbar-item">
            Kode Sumber Aplikasi
          </a>
          <a class="navbar-item">
            Kontak
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item">
            Laporkan Error
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger">
            <strong>Keluar</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- DAFTAR CATATAN  -->
<section class="is-fullheight is-fullwidth bg-components">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="box content">
          <article class="post">
            <h4>Bulma: How do you center a button in a box?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@jsmith</a> replied 34 minutes ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
              </div>
            </div>
          </article>
          <article class="post">
            <h4>How can I make a bulma button go full width?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@red</a> replied 40 minutes ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
              </div>
            </div>
          </article>
          <article class="post">
            <h4>
              TypeError: Data must be a string or a buffer when trying touse
              vue-bulma-tabs
            </h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@jsmith</a> replied 53 minutes ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
              </div>
            </div>
          </article>
          <article class="post">
            <h4>How to vertically center elements in Bulma?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@brown</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>
          <article class="post">
            <h4>
              I'm trying to use hamburger menu on bulma css, but it doesn't
              work. What is wrong?
            </h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@hamburgler</a> replied 5 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>
          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>

          <article class="post">
            <h4>How to make tiles wrap with Bulma CSS?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png" />
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DAFTAR CATATAN JIKA KOSONG -->
<section class="is-fullheight is-fullwidth bg-components">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="box content has-text-centered">
          <article class="post">
            <h4>Catatan belum tersedia untuk ditampilkan</h4>
            <div class="media has-text-centered">
              <div class="media-content">
                <div class="content">
                  <p class="has-text-centered">
                    Silahkan masukkan catatan bersifat rahasia melalui menu Buat Catatan &nbsp;
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
