<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title has-text-black">Gembok Catatan</h3>
        <hr class="login-hr" />
        <p class="subtitle has-text-black">Silahkan masuk untuk melanjutkan</p>
        <div class="box">
          <figure class="avatar img-circle">
            <img src="./assets/gembok1.png" class="is-rounded" width="100"/>
          </figure>
          <form>
            <div class="field">
              <div class="control has-icons-left">
                <input
                  class="input is-large is-rounded"
                  type="email"
                  placeholder="Nama Panggilan"
                  autofocus=""
                  [(ngModel)]="loginData.username"
                  name="username"
                />
                <span class="icon is-medium is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <input
                  class="input is-large is-rounded"
                  type="password"
                  placeholder="Kata Sandi"
                  [(ngModel)]="loginData.password"
                  name="passwordkunci"
                />
                <span class="icon is-medium is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" (click)="navigasiHalamanCatatan()">
              Masuk <i class="fa fa-sign-in" aria-hidden="false"></i>
            </button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="../">Registrasi</a> &nbsp;·&nbsp;
          <a href="../">Ekspor Impor Catatan</a> &nbsp;·&nbsp;
          <a href="../">Lupa Password</a> &nbsp;·&nbsp;
          <a href="../">Password Generator</a> &nbsp;·&nbsp;
          <a href="../">Bantuan</a> &nbsp;·&nbsp;
        </p>
      </div>
    </div>
  </div>
</section>
